LDAP_IRODS_AUTH_SERVICE_HOST={{ _irods_ldap_host_name }}
LDAP_IRODS_AUTH_SERVICE_PORT={{ _irods_ldap_port }}
LDAP_IRODS_AUTH_IRODS_HOST={{ _irods_host_name }}
LDAP_IRODS_AUTH_IRODS_PORT={{ _irods_port }}
LDAP_IRODS_AUTH_IRODS_ZONE={{ _irods_zone_name }}
LDAP_IRODS_AUTH_IRODS_USER_GROUP={{ _irods_user_group }}
LDAP_IRODS_AUTH_CACHE_TIMEOUT={{ _irods_ldap_cache_timeout }}
LDAP_IRODS_AUTH_LDAP_BASE_DN={{ _irods_ldap_basedn }}